# Ignore environments

.env

# Ignore compiled Python files

__pycache__/
*.pyc
*.pyo
db.sqlite3

# Ignore virtual environment folder

venv/
# this prevents .env and unecessary files from being uploaded.env
